<button (click)="allStudent($event)" type="button">All</button>
<button (click)="successfulStudent($event)" type="button">Successful</button>
<div class="flex-container">
  <mat-card class="mat-whiteframe-2dp" *ngFor="let student of students">
    <mat-card-title class="name">
      <span
        >{{ student.ID }} {{ student.First_Name }} {{ student.Last_Name }}</span
      >
    </mat-card-title>
    <mat-card-content>
      <div>Email&nbsp;:&nbsp;{{ student.Mail_Supinfo }}</div>
      <div>Attendance&nbsp;:&nbsp;{{ student.Presence }}</div>
      <div>General Mean&nbsp;:&nbsp;{{ student.General_Mean }}</div>
    </mat-card-content>
  </mat-card>
</div>
