<!-- <mat-toolbar class="extend-toolbar">
  <span>
    <a [routerLink]="['/']">home</a>
  </span>
  <span class="flex"></span>
  <span>
    <a [routerLink]="['/time-evolution']">Time Evolution</a>
    <a [routerLink]="['/student-list']">Student List</a>
  </span>
</mat-toolbar>--->

<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" style="font-size: xx-large;">☁️ Brazil Food</a>
    <ul class="right hide-on-med-and-down" style="display: flex;">
      <a [routerLink]="['/student-list']">Student List</a>
    </ul>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section> 

